@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	background: #2A2F32;
	background: linear-gradient(345deg, rgba(16,18,19,1) 35%, rgba(42,47,50,1) 83%);
}

.container {
	height: 100%;
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
}

.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: -999;
}


.header {
	background: #E2277E;
}

/*  Player-Durtime Style  */
.player-durtime__inner {
	display: flex;
	justify-content: center;
	position: relative;
}

#songCurTime,#songDuration {
	color: #f8f8f8;
	position: absolute;
	top: 50%;
	transform: translateY(-150%);
}

#songCurTime {
	left: 20px;
}

#songDuration {
	right: 20px;
}

#songPoster {
	position: absolute;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	background: #000;
	background: url('images/poster.jpg') center/cover no-repeat;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px 15px rgba(0,0,0,.5);
}

.progress-ring {
	overflow: hidden;
	transform: translateY(50%);
}

.progress-ring__circle {
	transition: .25s;
	transform-origin: center;
	transform: rotateY(180deg) translateY(-50%);
	position: relative;
	cursor: pointer;
}

.progress-ring__circle-bg {
	transform-origin: center;
	transform: translateY(-50%);
	cursor: pointer;
}


/*  Player  */
.player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
}

.player__inner {
	width: 100%;
	height: 100%;
	padding: 0 24px;
}

.player-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.songStatus__play, .songStatus__pause {
	width: 36px;
	margin: 0 8px;
	cursor: pointer;
}

.nextSong__image, .prevSong__image {
	width: 24px;
	margin: 0 28px;
	cursor: pointer;
}

.prevSong__image {
	transform: rotateY(180deg);
}


/*  Song-Info Style  */
#songTitle {
	color: #f8f8f2;
	margin-top: 12px;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}

#songAuthor {
	color: #a2a2a2;
	text-align: center;
	font-size: 1.12rem;
	font-weight: 300;
}

#handle {
	width: 300px;
	height: 300px;
	transform: rotate(0) translateY(50%);
	position: absolute;
	pointer-events: none;
}

.handle-point {
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: #E2277E;
	border-radius: 50%;
	box-shadow: 0 0 8px 2px rgba(226, 39, 126, .6),
				0 0 15px 5px rgba(226, 39, 126, .42),
				0 0 30px 8px rgba(226, 39, 126, .25); 
}